{% load static %}
  <!-- ======= Header/Navbar ======= -->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <!-- <a class="navbar-brand text-brand" href="index.html">Estate<span class="color-b">Agency</span></a> -->
      <a class="navbar-brand text-brand" href="{% url 'index' %}">
        <!-- <img src="assets/img/logo.png" class="logo-el" alt=""> -->
        <div class="logo-el">
          <img src="{% static 'img/logo.png' %}" alt="">
        </div>
      </a>

      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">

          <li {% if '/' == request.path %}
          class="nav-item active"
          {% else %}
          class="nav-item"
          {% endif %}
          >
            <a class="nav-link " href="{% url 'index' %}">Home</a>
          </li>

          <li {% if 'about' in request.path %}
          class="nav-item active"
          {% else %}
          class="nav-item"
          {% endif %}
          >
            <a class="nav-link " href="{% url 'about' %}">About</a>
          </li>

          <li {% if 'property' in request.path %}
          class="nav-item active"
          {% else %}
          class="nav-item"
          {% endif %}
          >
            <a class="nav-link " href="{% url 'property' %}">Property</a>
          </li>
          <li {% if 'agent' in request.path %}
          class="nav-item active"
          {% else %}
          class="nav-item"
          {% endif %}
          >
            <a class="nav-link " href="{% url 'agent' %}">Agents</a>
          </li>

          <li {% if 'contact' in request.path %}
          class="nav-item active"
          {% else %}
          class="nav-item"
          {% endif %}
          >
            <a class="nav-link " href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>

     <div class="d-flex mb-3">
      <button type="button" class="btn btn-singup navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="" data-bs-target="">
        <a href="">Sign up</a>
      </button>

      <button type="button" class="btn btn-b-n navbar-toggle-box toggle-navbar navbar-toggle-box-collapse" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
        <i class="bi bi-search"></i>
      </button>
     </div>

    </div>
  </nav><!-- End Header/Navbar -->
