  <!-- ======= Property Search Section ======= -->
  <div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Search Property</h3>
    </div>
    <span class="close-box-collapse right-boxed bi bi-x"></span>
    <div class="box-collapse-wrap form">
      <form class="form-a">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label class="pb-2" for="Type">Keyword</label>
              <input type="text" name="keyword" class="form-control form-control-lg form-control-a" placeholder="Keyword">
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="home">Type</label>
              <select class="form-control form-select form-control-a" id="home">
                <option selected="true" disabled="disabled">All</option>
                {% for key,value in house_choices.items  %}
                <option value="{{key}}">{{value}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="city">City</label>
              <select name="city" class="form-control form-select form-control-a" id="city">
                <option selected="true" disabled="disabled">All City</option>
                {% for key,value in state_choices.items  %}
                <option value="{{key}}">{{value}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="bedrooms">Bedrooms</label>
              <select class="form-control form-select form-control-a" id="bedrooms">
                <option selected="true" disabled="disabled">All</option>
                {% for key,value in bedroom_choices.items  %}
                <option value="{{key}}">{{value}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="garages">Garages</label>
              <select class="form-control form-select form-control-a" id="garages">
                <option selected="true" disabled="disabled">All</option>
                {% for key,value in garage_choices.items  %}
                <option value="{{key}}">{{value}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="bathrooms">Bathrooms</label>
              <select class="form-control form-select form-control-a" id="bathrooms">
                <option selected="true" disabled="disabled">All</option>
                {% for key,value in bathroom_choices.items  %}
                <option value="{{key}}">{{value}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group mt-3">
              <label class="pb-2" for="price">Min Price</label>
              <select class="form-control form-select form-control-a" id="price">
                <option selected="true" disabled="disabled">All</option>
                {% for key,value in price_choices.items  %}
                <option value="{{key}}">{{value}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Search Property</button>
          </div>
        </div>
      </form>
    </div>
  </div><!-- End Property Search Section -->>