{% extends 'base.html' %}
{% load static %}

{% block title %}Felicity Property Limited |Agents{% endblock title %}

{% block content %}

<!-- dev -->

<div class="container my-5">
  <div class="row">

    <div class="col-md-4">
      <div class="card text-center p-4">
        <a href="{% url 'editprofile' %}" class="bg-success rounded-pill p-2 text-white mb-2 text-center card-link"><i class="fas fa-edit"></i>Edit</a>
        <img height="250" src="{{profile.photo_main.url}}" alt="profile-image"
          class="card-img rounded-circle border border-success mx-auto">
        <div class="card-body">
          <h4>{{profile.name}}</h4>
          <p class="lead text-dark font-italic"> {{profile.hired_at}} </p>

          <span>
           
            {% if profile.facebook %}
            <a href="" class="card-link m-1"><i class="fab fa-facebook fa-2x text-secondary"></i></a>
            {% endif %}
            {% if profile.twitter %}
            <a href="" class="card-link m-1"><i class="fab fa-twitter fa-2x text-secondary"></i></a>
            {% endif %}
            {% if profile.instagram %}
            <a href="" class="card-link m-1"><i class="fab fa-instagram fa-2x text-secondary"></i></a>
            {% endif %}
            {% if profile.linkedin %}
            <a href="" class="card-link m-1"><i class="fab fa-linkedin fa-2x text-secondary"></i></a>
            {% endif %}
          </span>

        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h3 class="font-weight-bold my-1">ABOUT ME</h3>
      {{profile.description}}
 </h3>



      <h3 class="font-weight-bold my-4">LISTINGS <a href="{% url 'createlisting' %}" class=" bg-success rounded-pill p-2 text-white h6 float-right card-link"><i class="fas fa-plus"></i> Add Listing</a></h3>
      <div class="row">
        {% if project %}
          
        <div class="col-md-12">
            {% for item in project %}
            <div class="row">
              <div class="col-md-4">
                <a href="{% url 'listing' item.slug %}">
                  <img height="150" src="{{item.photo_main.url}}" alt="{{item.title}}" class="img-fluid">
                </a>
              </div>
              <div class="col-md-8">
                <h4> <a href="{% url 'listing' item.slug %}">{{item.title}}</h4></a>
                <p>{{item.description|slice:"150"}}</p>
                <a href="{% url 'deletelisting' item.id %}?next=/agent/dashboard" class="ml-1 bg-danger rounded-pill p-2 text-white h6 float-right card-link"><i class="fas fa-trash"></i>
                  Delete
                </a>
                <a href="{% url 'updatelisting' item.id %}" class=" bg-success rounded-pill p-2 text-white h6 float-right card-link"><i class="fas fa-edit"></i> Edit
                </a>
              </div>
  
            </div>
            <hr>
            {% endfor %}
          </div>
        {% else %}
          <div class="rounded-md py-3 bg-success">
            <p class="lead">No New Listing</p>
          </div>
        {% endif %}
        

      </div>

    </div>


  </div>
</div>


{% endblock content %}